{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <script src="{% static 'script.js' %}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Twitter Sentiment Classifier</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <p>Response</p>
    <table id="table">
    <tr>
      <th>Tweet</th>
      <th>Sentiment Rating</th>
    </tr>
    {% for tweet in query_results %}
    <tr>
        <td>{{ tweet.tweet_text }}</td>
        <td id="sentiment">{{ tweet.tweet_sentiment }}</td>
    </tr>
    {% endfor %}
  </table>
  </body>
</html>
