{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  
  <head>
    <meta charset="utf-8" />
    <script src="{% static 'script.js' %}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>Twitter Sentiment Classifier</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  
  <body>
    {% csrf_token %}
    <p>Scale used in the classification of the tweets:</p>
    <p>1: Very Negative</p>
    <p>2: Negative</p>
    <p>3: Neutral</p>
    <p>4: Positive</p>
    <p>5: Very Positive</p>
    
    <!-- create table for results -->
    <table id="table">
    
    <!-- add headers to table -->
    <tr>
      <th>Tweet</th>
      <th>Sentiment Rating</th>
    </tr>

    <!-- loop through the results and add tweet texts and the sentiment to columns-->
    {% for tweet in query_results %}
    <tr>
        <td>{{ tweet.tweet_text }}</td>
        <td id="sentiment">{{ tweet.tweet_sentiment }}</td>
    </tr>
    {% endfor %}
  </table>

  <button class="button" id="neg_button" onclick="filter()">Retrieve negative tweets</button>

  <table id="table_neg">
    
    <!-- add headers to table -->
    <tr>
      <th>Tweet</th>
    </tr>

    <!-- loop through the results and add tweet texts and the sentiment to columns-->
    {% for tweet in negative_tweets %}
    <tr>
        <td>{{ tweet.tweet_text }}</td>
    </tr>
    {% endfor %}
  </table>

  <button class="button" id="neg_button_personal" onclick="filterPersonal()">Retrieve negative personal tweets</button>
<br>
  <table id="table_neg_personal">
    
    <!-- add headers to table -->
    <tr>
      <th>Tweet</th>
    </tr>

    <!-- loop through the results and add tweet texts and the sentiment to columns-->
    {% for tweet in personal_tweets %}
    <tr>
        <td>{{ tweet.tweet_text }}</td>
    </tr>
    {% endfor %}
  </table>

  </body>
</html>
